@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">VM Dashboard</h1>
    <ul>
        <li><a asp-page="/Readme">View README</a></li>
        <li><a asp-page="/ScoringReport">View Scoring Report</a></li>
    </ul>
</div>
